In [ ]:
import pandas as pd
import numpy as np

In [ ]:
중국 = pd.read_csv('./data/무역량/중국.csv')
중국.columns = ['Date','중국_수출금액','중국_수출증감률','중국_수입금액','중국_수입증감률','중국_무역수지']
중국 = 중국.drop([0,1,2])
중국 = 중국.iloc[0:124].reset_index(drop=True)
중국['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
중국 = 중국.drop([0,7,20,33,46,59,72,85,98,111])
중국['중국_수출금액'] = [float(value.replace(',', '')) for value in 중국['중국_수출금액']]
중국['중국_수입금액'] = [float(value.replace(',', '')) for value in 중국['중국_수입금액']]
중국['중국_무역수지'] = [float(value.replace(',', '')) for value in 중국['중국_무역수지']]
중국['중국_수출증감률'] = 중국['중국_수출증감률'].astype(float)
중국['중국_수입증감률'] = 중국['중국_수입증감률'].astype(float)

In [ ]:
남아프리카공화국 = pd.read_csv('./data/무역량/남아프리카공화국.csv')
남아프리카공화국.columns = ['Date','남아프리카공화국_수출금액','남아프리카공화국_수출증감률','남아프리카공화국_수입금액','남아프리카공화국_수입증감률','남아프리카공화국_무역수지']
남아프리카공화국 = 남아프리카공화국.drop([0,1,2])
남아프리카공화국 = 남아프리카공화국.iloc[0:124].reset_index(drop=True)
남아프리카공화국['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
남아프리카공화국 = 남아프리카공화국.drop([0,7,20,33,46,59,72,85,98,111])
남아프리카공화국['남아프리카공화국_수출금액'] = [float(value.replace(',', '')) for value in 남아프리카공화국['남아프리카공화국_수출금액']]
남아프리카공화국['남아프리카공화국_수입금액'] = [float(value.replace(',', '')) for value in 남아프리카공화국['남아프리카공화국_수입금액']]
남아프리카공화국['남아프리카공화국_무역수지'] = [float(value.replace(',', '')) for value in 남아프리카공화국['남아프리카공화국_무역수지']]
남아프리카공화국['남아프리카공화국_수출증감률'] = 남아프리카공화국['남아프리카공화국_수출증감률'].astype(float)
남아프리카공화국['남아프리카공화국_수입증감률'] = 남아프리카공화국['남아프리카공화국_수입증감률'].astype(float)

In [ ]:
라트비아 = pd.read_csv('./data/무역량/라트비아.csv')
라트비아.columns = ['Date','라트비아_수출금액','라트비아_수출증감률','라트비아_수입금액','라트비아_수입증감률','라트비아_무역수지']
라트비아 = 라트비아.drop([0,1,2])
라트비아 = 라트비아.iloc[0:124].reset_index(drop=True)
라트비아['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
라트비아 = 라트비아.drop([0,7,20,33,46,59,72,85,98,111])
라트비아['라트비아_수출금액'] = [float(value.replace(',', '')) for value in 라트비아['라트비아_수출금액']]
라트비아['라트비아_수입금액'] = [float(value.replace(',', '')) for value in 라트비아['라트비아_수입금액']]
라트비아['라트비아_무역수지'] = [float(value.replace(',', '')) for value in 라트비아['라트비아_무역수지']]
라트비아['라트비아_수출증감률'] = 라트비아['라트비아_수출증감률'].astype(float)
라트비아['라트비아_수입증감률'] = 라트비아['라트비아_수입증감률'].astype(float)

In [ ]:
러시아 = pd.read_csv('./data/무역량/러시아.csv')
러시아.columns = ['Date','러시아_수출금액','러시아_수출증감률','러시아_수입금액','러시아_수입증감률','러시아_무역수지']
러시아 = 러시아.drop([0,1,2])
러시아 = 러시아.iloc[0:124].reset_index(drop=True)
러시아['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
러시아 = 러시아.drop([0,7,20,33,46,59,72,85,98,111])
러시아['러시아_수출금액'] = [float(value.replace(',', '')) for value in 러시아['러시아_수출금액']]
러시아['러시아_수입금액'] = [float(value.replace(',', '')) for value in 러시아['러시아_수입금액']]
러시아['러시아_무역수지'] = [float(value.replace(',', '')) for value in 러시아['러시아_무역수지']]
러시아['러시아_수출증감률'] = 러시아['러시아_수출증감률'].astype(float)
러시아['러시아_수입증감률'] = 러시아['러시아_수입증감률'].astype(float)

In [ ]:
말레이시아 = pd.read_csv('./data/무역량/말레이시아.csv')
말레이시아.columns = ['Date','말레이시아_수출금액','말레이시아_수출증감률','말레이시아_수입금액','말레이시아_수입증감률','말레이시아_무역수지']
말레이시아 = 말레이시아.drop([0,1,2])
말레이시아 = 말레이시아.iloc[0:124].reset_index(drop=True)
말레이시아['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
말레이시아 = 말레이시아.drop([0,7,20,33,46,59,72,85,98,111])
말레이시아['말레이시아_수출금액'] = [float(value.replace(',', '')) for value in 말레이시아['말레이시아_수출금액']]
말레이시아['말레이시아_수입금액'] = [float(value.replace(',', '')) for value in 말레이시아['말레이시아_수입금액']]
말레이시아['말레이시아_무역수지'] = [float(value.replace(',', '')) for value in 말레이시아['말레이시아_무역수지']]
말레이시아['말레이시아_수출증감률'] = 말레이시아['말레이시아_수출증감률'].astype(float)
말레이시아['말레이시아_수입증감률'] = 말레이시아['말레이시아_수입증감률'].astype(float)

In [ ]:
모잠비크 = pd.read_csv('./data/무역량/모잠비크.csv')
모잠비크.columns = ['Date','모잠비크_수출금액','모잠비크_수출증감률','모잠비크_수입금액','모잠비크_수입증감률','모잠비크_무역수지']
모잠비크 = 모잠비크.drop([0,1,2])
모잠비크 = 모잠비크.iloc[0:124].reset_index(drop=True)
모잠비크['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
모잠비크 = 모잠비크.drop([0,7,20,33,46,59,72,85,98,111])
모잠비크['모잠비크_수출금액'] = [float(value.replace(',', '')) for value in 모잠비크['모잠비크_수출금액']]
모잠비크['모잠비크_수입금액'] = [float(value.replace(',', '')) for value in 모잠비크['모잠비크_수입금액']]
모잠비크['모잠비크_무역수지'] = [float(value.replace(',', '')) for value in 모잠비크['모잠비크_무역수지']]
모잠비크['모잠비크_수출증감률'] = 모잠비크['모잠비크_수출증감률'].astype(float)
모잠비크['모잠비크_수입증감률'] = 모잠비크['모잠비크_수입증감률'].astype(float)

In [ ]:
미국 = pd.read_csv('./data/무역량/미국.csv')
미국.columns = ['Date','미국_수출금액','미국_수출증감률','미국_수입금액','미국_수입증감률','미국_무역수지']
미국 = 미국.drop([0,1,2])
미국 = 미국.iloc[0:124].reset_index(drop=True)
미국['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
미국 = 미국.drop([0,7,20,33,46,59,72,85,98,111])
미국['미국_수출금액'] = [float(value.replace(',', '')) for value in 미국['미국_수출금액']]
미국['미국_수입금액'] = [float(value.replace(',', '')) for value in 미국['미국_수입금액']]
미국['미국_무역수지'] = [float(value.replace(',', '')) for value in 미국['미국_무역수지']]
미국['미국_수출증감률'] = 미국['미국_수출증감률'].astype(float)
미국['미국_수입증감률'] = 미국['미국_수입증감률'].astype(float)

In [ ]:
베트남 = pd.read_csv('./data/무역량/베트남.csv')
베트남.columns = ['Date','베트남_수출금액','베트남_수출증감률','베트남_수입금액','베트남_수입증감률','베트남_무역수지']
베트남 = 베트남.drop([0,1,2])
베트남 = 베트남.iloc[0:124].reset_index(drop=True)
베트남['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
베트남 = 베트남.drop([0,7,20,33,46,59,72,85,98,111])
베트남['베트남_수출금액'] = [float(value.replace(',', '')) for value in 베트남['베트남_수출금액']]
베트남['베트남_수입금액'] = [float(value.replace(',', '')) for value in 베트남['베트남_수입금액']]
베트남['베트남_무역수지'] = [float(value.replace(',', '')) for value in 베트남['베트남_무역수지']]
베트남['베트남_수출증감률'] = 베트남['베트남_수출증감률'].astype(float)
베트남['베트남_수입증감률'] = 베트남['베트남_수입증감률'].astype(float)

In [ ]:
브라질 = pd.read_csv('./data/무역량/브라질.csv')
브라질.columns = ['Date','브라질_수출금액','브라질_수출증감률','브라질_수입금액','브라질_수입증감률','브라질_무역수지']
브라질 = 브라질.drop([0,1,2])
브라질 = 브라질.iloc[0:124].reset_index(drop=True)
브라질['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
브라질 = 브라질.drop([0,7,20,33,46,59,72,85,98,111])
브라질['브라질_수출금액'] = [float(value.replace(',', '')) for value in 브라질['브라질_수출금액']]
브라질['브라질_수입금액'] = [float(value.replace(',', '')) for value in 브라질['브라질_수입금액']]
브라질['브라질_무역수지'] = [float(value.replace(',', '')) for value in 브라질['브라질_무역수지']]
브라질['브라질_수출증감률'] = 브라질['브라질_수출증감률'].astype(float)
브라질['브라질_수입증감률'] = 브라질['브라질_수입증감률'].astype(float)

In [ ]:
싱가포르 = pd.read_csv('./data/무역량/싱가포르.csv')
싱가포르.columns = ['Date','싱가포르_수출금액','싱가포르_수출증감률','싱가포르_수입금액','싱가포르_수입증감률','싱가포르_무역수지']
싱가포르 = 싱가포르.drop([0,1,2])
싱가포르 = 싱가포르.iloc[0:124].reset_index(drop=True)
싱가포르['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
싱가포르 = 싱가포르.drop([0,7,20,33,46,59,72,85,98,111])
싱가포르['싱가포르_수출금액'] = [float(value.replace(',', '')) for value in 싱가포르['싱가포르_수출금액']]
싱가포르['싱가포르_수입금액'] = [float(value.replace(',', '')) for value in 싱가포르['싱가포르_수입금액']]
싱가포르['싱가포르_무역수지'] = [float(value.replace(',', '')) for value in 싱가포르['싱가포르_무역수지']]
싱가포르['싱가포르_수출증감률'] = 싱가포르['싱가포르_수출증감률'].astype(float)
싱가포르['싱가포르_수입증감률'] = 싱가포르['싱가포르_수입증감률'].astype(float)

In [ ]:
우크라이나 = pd.read_csv('./data/무역량/우크라이나.csv')
우크라이나.columns = ['Date','우크라이나_수출금액','우크라이나_수출증감률','우크라이나_수입금액','우크라이나_수입증감률','우크라이나_무역수지']
우크라이나 = 우크라이나.drop([0,1,2])
우크라이나 = 우크라이나.iloc[0:124].reset_index(drop=True)
우크라이나['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
우크라이나 = 우크라이나.drop([0,7,20,33,46,59,72,85,98,111])
우크라이나['우크라이나_수출금액'] = [float(value.replace(',', '')) for value in 우크라이나['우크라이나_수출금액']]
우크라이나['우크라이나_수입금액'] = [float(value.replace(',', '')) for value in 우크라이나['우크라이나_수입금액']]
우크라이나['우크라이나_무역수지'] = [float(value.replace(',', '')) for value in 우크라이나['우크라이나_무역수지']]
우크라이나['우크라이나_수출증감률'] = 우크라이나['우크라이나_수출증감률'].astype(float)
우크라이나['우크라이나_수입증감률'] = 우크라이나['우크라이나_수입증감률'].astype(float)

In [ ]:
인도 = pd.read_csv('./data/무역량/인도.csv')
인도.columns = ['Date','인도_수출금액','인도_수출증감률','인도_수입금액','인도_수입증감률','인도_무역수지']
인도 = 인도.drop([0,1,2])
인도 = 인도.iloc[0:124].reset_index(drop=True)
인도['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
인도 = 인도.drop([0,7,20,33,46,59,72,85,98,111])
인도['인도_수출금액'] = [float(value.replace(',', '')) for value in 인도['인도_수출금액']]
인도['인도_수입금액'] = [float(value.replace(',', '')) for value in 인도['인도_수입금액']]
인도['인도_무역수지'] = [float(value.replace(',', '')) for value in 인도['인도_무역수지']]
인도['인도_수출증감률'] = 인도['인도_수출증감률'].astype(float)
인도['인도_수입증감률'] = 인도['인도_수입증감률'].astype(float)

In [ ]:
인도네시아 = pd.read_csv('./data/무역량/인도네시아.csv')
인도네시아.columns = ['Date','인도네시아_수출금액','인도네시아_수출증감률','인도네시아_수입금액','인도네시아_수입증감률','인도네시아_무역수지']
인도네시아 = 인도네시아.drop([0,1,2])
인도네시아 = 인도네시아.iloc[0:124].reset_index(drop=True)
인도네시아['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
인도네시아 = 인도네시아.drop([0,7,20,33,46,59,72,85,98,111])
인도네시아['인도네시아_수출금액'] = [float(value.replace(',', '')) for value in 인도네시아['인도네시아_수출금액']]
인도네시아['인도네시아_수입금액'] = [float(value.replace(',', '')) for value in 인도네시아['인도네시아_수입금액']]
인도네시아['인도네시아_무역수지'] = [float(value.replace(',', '')) for value in 인도네시아['인도네시아_무역수지']]
인도네시아['인도네시아_수출증감률'] = 인도네시아['인도네시아_수출증감률'].astype(float)
인도네시아['인도네시아_수입증감률'] = 인도네시아['인도네시아_수입증감률'].astype(float)

In [ ]:
일본 = pd.read_csv('./data/무역량/일본.csv')
일본.columns = ['Date','일본_수출금액','일본_수출증감률','일본_수입금액','일본_수입증감률','일본_무역수지']
일본 = 일본.drop([0,1,2])
일본 = 일본.iloc[0:124].reset_index(drop=True)
일본['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
일본 = 일본.drop([0,7,20,33,46,59,72,85,98,111])
일본['일본_수출금액'] = [float(value.replace(',', '')) for value in 일본['일본_수출금액']]
일본['일본_수입금액'] = [float(value.replace(',', '')) for value in 일본['일본_수입금액']]
일본['일본_무역수지'] = [float(value.replace(',', '')) for value in 일본['일본_무역수지']]
일본['일본_수출증감률'] = 일본['일본_수출증감률'].astype(float)
일본['일본_수입증감률'] = 일본['일본_수입증감률'].astype(float)

In [ ]:
칠레 = pd.read_csv('./data/무역량/칠레.csv')
칠레.columns = ['Date','칠레_수출금액','칠레_수출증감률','칠레_수입금액','칠레_수입증감률','칠레_무역수지']
칠레 = 칠레.drop([0,1,2])
칠레 = 칠레.iloc[0:124].reset_index(drop=True)
칠레['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
칠레 = 칠레.drop([0,7,20,33,46,59,72,85,98,111])
칠레['칠레_수출금액'] = [float(value.replace(',', '')) for value in 칠레['칠레_수출금액']]
칠레['칠레_수입금액'] = [float(value.replace(',', '')) for value in 칠레['칠레_수입금액']]
칠레['칠레_무역수지'] = [float(value.replace(',', '')) for value in 칠레['칠레_무역수지']]
칠레['칠레_수출증감률'] = 칠레['칠레_수출증감률'].astype(float)
칠레['칠레_수입증감률'] = 칠레['칠레_수입증감률'].astype(float)

In [ ]:
카타르 = pd.read_csv('./data/무역량/카타르.csv')
카타르.columns = ['Date','카타르_수출금액','카타르_수출증감률','카타르_수입금액','카타르_수입증감률','카타르_무역수지']
카타르 = 카타르.drop([0,1,2])
카타르 = 카타르.iloc[0:124].reset_index(drop=True)
카타르['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
카타르 = 카타르.drop([0,7,20,33,46,59,72,85,98,111])
카타르['카타르_수출금액'] = [float(value.replace(',', '')) for value in 카타르['카타르_수출금액']]
카타르['카타르_수입금액'] = [float(value.replace(',', '')) for value in 카타르['카타르_수입금액']]
카타르['카타르_무역수지'] = [float(value.replace(',', '')) for value in 카타르['카타르_무역수지']]
카타르['카타르_수출증감률'] = 카타르['카타르_수출증감률'].astype(float)
카타르['카타르_수입증감률'] = 카타르['카타르_수입증감률'].astype(float)

In [ ]:
캐나다 = pd.read_csv('./data/무역량/캐나다.csv')
캐나다.columns = ['Date','캐나다_수출금액','캐나다_수출증감률','캐나다_수입금액','캐나다_수입증감률','캐나다_무역수지']
캐나다 = 캐나다.drop([0,1,2])
캐나다 = 캐나다.iloc[0:124].reset_index(drop=True)
캐나다['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
캐나다 = 캐나다.drop([0,7,20,33,46,59,72,85,98,111])
캐나다['캐나다_수출금액'] = [float(value.replace(',', '')) for value in 캐나다['캐나다_수출금액']]
캐나다['캐나다_수입금액'] = [float(value.replace(',', '')) for value in 캐나다['캐나다_수입금액']]
캐나다['캐나다_무역수지'] = [float(value.replace(',', '')) for value in 캐나다['캐나다_무역수지']]
캐나다['캐나다_수출증감률'] = 캐나다['캐나다_수출증감률'].astype(float)
캐나다['캐나다_수입증감률'] = 캐나다['캐나다_수입증감률'].astype(float)

In [ ]:
트리니다드토바고 = pd.read_csv('./data/무역량/트리니다드토바고.csv')
트리니다드토바고.columns = ['Date','트리니다드토바고_수출금액','트리니다드토바고_수출증감률','트리니다드토바고_수입금액','트리니다드토바고_수입증감률','트리니다드토바고_무역수지']
트리니다드토바고 = 트리니다드토바고.drop([0,1,2])
트리니다드토바고 = 트리니다드토바고.iloc[0:124].reset_index(drop=True)
트리니다드토바고['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
트리니다드토바고 = 트리니다드토바고.drop([0,7,20,33,46,59,72,85,98,111])
def convert_to_float(value):
    if ',' in value:
        return float(value.replace(',', ''))
    else:
        return float(value)

트리니다드토바고['트리니다드토바고_수출금액'] = [convert_to_float(value) for value in 트리니다드토바고['트리니다드토바고_수출금액']]
트리니다드토바고['트리니다드토바고_수입금액'] = [convert_to_float(value) for value in 트리니다드토바고['트리니다드토바고_수입금액']]
트리니다드토바고['트리니다드토바고_무역수지'] = [convert_to_float(value) for value in 트리니다드토바고['트리니다드토바고_무역수지']]
트리니다드토바고['트리니다드토바고_수출증감률'] = [convert_to_float(value) for value in 트리니다드토바고['트리니다드토바고_수출증감률']]
트리니다드토바고['트리니다드토바고_수입증감률'] = [convert_to_float(value) for value in 트리니다드토바고['트리니다드토바고_수입증감률']]

In [ ]:
페루 = pd.read_csv('./data/무역량/페루.csv')
페루.columns = ['Date','페루_수출금액','페루_수출증감률','페루_수입금액','페루_수입증감률','페루_무역수지']
페루 = 페루.drop([0,1,2])
페루 = 페루.iloc[0:124].reset_index(drop=True)
페루['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
페루 = 페루.drop([0,7,20,33,46,59,72,85,98,111])
페루['페루_수출금액'] = [float(value.replace(',', '')) for value in 페루['페루_수출금액']]
페루['페루_수입금액'] = [float(value.replace(',', '')) for value in 페루['페루_수입금액']]
페루['페루_무역수지'] = [float(value.replace(',', '')) for value in 페루['페루_무역수지']]
페루['페루_수출증감률'] = 페루['페루_수출증감률'].astype(float)
페루['페루_수입증감률'] = 페루['페루_수입증감률'].astype(float)

In [ ]:
핀란드 = pd.read_csv('./data/무역량/핀란드.csv')
핀란드.columns = ['Date','핀란드_수출금액','핀란드_수출증감률','핀란드_수입금액','핀란드_수입증감률','핀란드_무역수지']
핀란드 = 핀란드.drop([0,1,2])
핀란드 = 핀란드.iloc[0:124].reset_index(drop=True)
핀란드['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
핀란드 = 핀란드.drop([0,7,20,33,46,59,72,85,98,111])
핀란드['핀란드_수출금액'] = [float(value.replace(',', '')) for value in 핀란드['핀란드_수출금액']]
핀란드['핀란드_수입금액'] = [float(value.replace(',', '')) for value in 핀란드['핀란드_수입금액']]
핀란드['핀란드_무역수지'] = [float(value.replace(',', '')) for value in 핀란드['핀란드_무역수지']]
핀란드['핀란드_수출증감률'] = 핀란드['핀란드_수출증감률'].astype(float)
핀란드['핀란드_수입증감률'] = 핀란드['핀란드_수입증감률'].astype(float)

In [ ]:
필리핀 = pd.read_csv('./data/무역량/필리핀.csv')
필리핀.columns = ['Date','필리핀_수출금액','필리핀_수출증감률','필리핀_수입금액','필리핀_수입증감률','필리핀_무역수지']
필리핀 = 필리핀.drop([0,1,2])
필리핀 = 필리핀.iloc[0:124].reset_index(drop=True)
필리핀['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
필리핀 = 필리핀.drop([0,7,20,33,46,59,72,85,98,111])
필리핀['필리핀_수출금액'] = [float(value.replace(',', '')) for value in 필리핀['필리핀_수출금액']]
필리핀['필리핀_수입금액'] = [float(value.replace(',', '')) for value in 필리핀['필리핀_수입금액']]
필리핀['필리핀_무역수지'] = [float(value.replace(',', '')) for value in 필리핀['필리핀_무역수지']]
필리핀['필리핀_수출증감률'] = 필리핀['필리핀_수출증감률'].astype(float)
필리핀['필리핀_수입증감률'] = 필리핀['필리핀_수입증감률'].astype(float)

In [ ]:
한국 = pd.read_csv('./data/무역량/한국.csv')
한국.columns = ['Date','한국_수출금액','한국_수출증감률','한국_수입금액','한국_수입증감률','한국_무역수지']
한국 = 한국.drop([0,1,2])
한국 = 한국.iloc[0:124].reset_index(drop=True)
한국['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
한국 = 한국.drop([0,7,20,33,46,59,72,85,98,111])
한국['한국_수출금액'] = [float(value.replace(',', '')) for value in 한국['한국_수출금액']]
한국['한국_수입금액'] = [float(value.replace(',', '')) for value in 한국['한국_수입금액']]
한국['한국_무역수지'] = [float(value.replace(',', '')) for value in 한국['한국_무역수지']]
한국['한국_수출증감률'] = 한국['한국_수출증감률'].astype(float)
한국['한국_수입증감률'] = 한국['한국_수입증감률'].astype(float)

In [ ]:
호주 = pd.read_csv('./data/무역량/호주.csv')
호주.columns = ['Date','호주_수출금액','호주_수출증감률','호주_수입금액','호주_수입증감률','호주_무역수지']
호주 = 호주.drop([0,1,2])
호주 = 호주.iloc[0:124].reset_index(drop=True)
호주['Date'] = ['2023','2023-01','2023-02','2023-03','2023-04','2023-05','2023-06',
'2022','2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12',
'2021','2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12',
'2020','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12',
'2019','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12',
'2018','2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12',
'2017','2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12',
'2016','2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12',
'2015','2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12',
'2014','2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']
호주 = 호주.drop([0,7,20,33,46,59,72,85,98,111])
호주['호주_수출금액'] = [float(value.replace(',', '')) for value in 호주['호주_수출금액']]
호주['호주_수입금액'] = [float(value.replace(',', '')) for value in 호주['호주_수입금액']]
호주['호주_무역수지'] = [float(value.replace(',', '')) for value in 호주['호주_무역수지']]
호주['호주_수출증감률'] = 호주['호주_수출증감률'].astype(float)
호주['호주_수입증감률'] = 호주['호주_수입증감률'].astype(float)

In [ ]:
대만_2023 = pd.read_csv('./data/무역량/대만_2023.csv')
대만_2023.columns=['d','Date','대만_수출금액','대만_수출증감률','대만_수입금액','대만_수입증감률','대만_무역수지']
대만_2023 = 대만_2023.drop(columns=['d'])
대만_2023 = 대만_2023.drop([0,1,2])
대만_2023 = 대만_2023.iloc[0:6].reset_index(drop=True)
대만_2023['Date'] = ['2023-01','2023-02','2023-03','2023-04','2023-05','2023-06']

In [ ]:
대만_2022 = pd.read_csv('./data/무역량/대만_2022.csv')
대만_2022.columns=['d','Date','대만_수출금액','대만_수출증감률','대만_수입금액','대만_수입증감률','대만_무역수지']
대만_2022 = 대만_2022.drop(columns=['d'])
대만_2022 = 대만_2022.drop([0,1,2])
대만_2022 = 대만_2022.iloc[0:124].reset_index(drop=True)
대만_2022['Date'] = ['2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12']

In [ ]:
대만_2021 = pd.read_csv('./data/무역량/대만_2021.csv')
대만_2021.columns=['d','Date','대만_수출금액','대만_수출증감률','대만_수입금액','대만_수입증감률','대만_무역수지']
대만_2021 = 대만_2021.drop(columns=['d'])
대만_2021 = 대만_2021.drop([0,1,2])
대만_2021 = 대만_2021.iloc[0:124].reset_index(drop=True)
대만_2021['Date'] = ['2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12']

In [ ]:
대만_2020 = pd.read_csv('./data/무역량/대만_2020.csv')
대만_2020.columns=['d','Date','대만_수출금액','대만_수출증감률','대만_수입금액','대만_수입증감률','대만_무역수지']
대만_2020 = 대만_2020.drop(columns=['d'])
대만_2020 = 대만_2020.drop([0,1,2])
대만_2020 = 대만_2020.iloc[0:124].reset_index(drop=True)
대만_2020['Date'] = ['2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12']

In [ ]:
대만_2019 = pd.read_csv('./data/무역량/대만_2019.csv')
대만_2019.columns=['d','Date','대만_수출금액','대만_수출증감률','대만_수입금액','대만_수입증감률','대만_무역수지']
대만_2019 = 대만_2019.drop(columns=['d'])
대만_2019 = 대만_2019.drop([0,1,2])
대만_2019 = 대만_2019.iloc[0:124].reset_index(drop=True)
대만_2019['Date'] = ['2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12']

In [ ]:
대만_2018 = pd.read_csv('./data/무역량/대만_2018.csv')
대만_2018.columns=['d','Date','대만_수출금액','대만_수출증감률','대만_수입금액','대만_수입증감률','대만_무역수지']
대만_2018 = 대만_2018.drop(columns=['d'])
대만_2018 = 대만_2018.drop([0,1,2])
대만_2018 = 대만_2018.iloc[0:124].reset_index(drop=True)
대만_2018['Date'] = ['2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12']

In [ ]:
대만_2017 = pd.read_csv('./data/무역량/대만_2017.csv')
대만_2017.columns=['d','Date','대만_수출금액','대만_수출증감률','대만_수입금액','대만_수입증감률','대만_무역수지']
대만_2017 = 대만_2017.drop(columns=['d'])
대만_2017 = 대만_2017.drop([0,1,2])
대만_2017 = 대만_2017.iloc[0:124].reset_index(drop=True)
대만_2017['Date'] = ['2017-01','2017-02','2017-03','2017-04','2017-05','2017-06','2017-07','2017-08','2017-09','2017-10','2017-11','2017-12']

In [ ]:
대만_2016 = pd.read_csv('./data/무역량/대만_2016.csv')
대만_2016.columns=['d','Date','대만_수출금액','대만_수출증감률','대만_수입금액','대만_수입증감률','대만_무역수지']
대만_2016 = 대만_2016.drop(columns=['d'])
대만_2016 = 대만_2016.drop([0,1,2])
대만_2016 = 대만_2016.iloc[0:124].reset_index(drop=True)
대만_2016['Date'] = ['2016-01','2016-02','2016-03','2016-04','2016-05','2016-06','2016-07','2016-08','2016-09','2016-10','2016-11','2016-12']

In [ ]:
대만_2015 = pd.read_csv('./data/무역량/대만_2015.csv')
대만_2015.columns=['d','Date','대만_수출금액','대만_수출증감률','대만_수입금액','대만_수입증감률','대만_무역수지']
대만_2015 = 대만_2015.drop(columns=['d'])
대만_2015 = 대만_2015.drop([0,1,2])
대만_2015 = 대만_2015.iloc[0:124].reset_index(drop=True)
대만_2015['Date'] = ['2015-01','2015-02','2015-03','2015-04','2015-05','2015-06','2015-07','2015-08','2015-09','2015-10','2015-11','2015-12']

In [ ]:
대만_2014 = pd.read_csv('./data/무역량/대만_2014.csv')
대만_2014.columns=['d','Date','대만_수출금액','대만_수출증감률','대만_수입금액','대만_수입증감률','대만_무역수지']
대만_2014 = 대만_2014.drop(columns=['d'])
대만_2014 = 대만_2014.drop([0,1,2])
대만_2014 = 대만_2014.iloc[0:124].reset_index(drop=True)
대만_2014['Date'] = ['2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08','2014-09','2014-10','2014-11','2014-12']

In [ ]:
대만 = pd.concat([대만_2023,대만_2022,대만_2021,대만_2020,대만_2019,대만_2018,대만_2017,대만_2016,대만_2015,대만_2014])

In [ ]:
대만['대만_수출금액'] = [float(value.replace(',', '')) for value in 대만['대만_수출금액']]
대만['대만_수입금액'] = [float(value.replace(',', '')) for value in 대만['대만_수입금액']]
대만['대만_무역수지'] = [float(value.replace(',', '')) for value in 대만['대만_무역수지']]
대만['대만_수출증감률'] = 대만['대만_수출증감률'].astype(float)
대만['대만_수입증감률'] = 대만['대만_수입증감률'].astype(float)

In [ ]:
대만 = 대만.reset_index(drop=True)
호주 = 호주.reset_index(drop=True)
한국 = 한국.reset_index(drop=True)
미국 = 미국.reset_index(drop=True)
중국 = 중국.reset_index(drop=True)
필리핀 = 필리핀.reset_index(drop=True)
핀란드 = 핀란드.reset_index(drop=True)
페루 = 페루.reset_index(drop=True)
트리니다드토바고 = 트리니다드토바고.reset_index(drop=True)
캐나다 = 캐나다.reset_index(drop=True)
카타르 = 카타르.reset_index(drop=True)
칠레 = 칠레.reset_index(drop=True)
일본 = 일본.reset_index(drop=True)
인도네시아 = 인도네시아.reset_index(drop=True)
인도 = 인도.reset_index(drop=True)
우크라이나 = 우크라이나.reset_index(drop=True)
싱가포르 = 싱가포르.reset_index(drop=True)
브라질 = 브라질.reset_index(drop=True)
베트남 = 베트남.reset_index(drop=True)
모잠비크 = 모잠비크.reset_index(drop=True)
말레이시아 = 말레이시아.reset_index(drop=True)
러시아 = 러시아.reset_index(drop=True)
라트비아 = 라트비아.reset_index(drop=True)
남아프리카공화국 = 남아프리카공화국.reset_index(drop=True)

In [ ]:
data = pd.concat([대만,
           호주.drop(columns=['Date']),
           한국.drop(columns=['Date']),
           필리핀.drop(columns=['Date']),
           핀란드.drop(columns=['Date']),
           페루.drop(columns=['Date']),
           트리니다드토바고.drop(columns=['Date']),
           캐나다.drop(columns=['Date']),
           카타르.drop(columns=['Date']),
           칠레.drop(columns=['Date']),
           일본.drop(columns=['Date']),
           인도네시아.drop(columns=['Date']),
           인도.drop(columns=['Date']),
           우크라이나.drop(columns=['Date']),
           싱가포르.drop(columns=['Date']),
           브라질.drop(columns=['Date']),
           베트남.drop(columns=['Date']),
           모잠비크.drop(columns=['Date']),
           말레이시아.drop(columns=['Date']),
           러시아.drop(columns=['Date']),
           라트비아.drop(columns=['Date']),
           미국.drop(columns=['Date']),
           중국.drop(columns=['Date']),
           남아프리카공화국.drop(columns=['Date'])],axis=1)

In [ ]:
data.to_csv('./data/최종데이터.csv', index = False)